@use "../../sass/" as *;
.card-services {
  border-radius: rem(30);
  padding: rem(35);
  transition: 0.6s;
  @include flex(center, center, 35);
  flex-direction: column;
  &__icon {
    transition: 0.6s;
    @include flex(center, center, 0);
    padding: rem(52);
    width: rem(50);
    height: rem(50);
    border-radius: 50%;
    font-size: rem(35);
    font-weight: bold;
  }
  &__title {
    font-size: rem(50);
    font-weight: bold;
    margin-bottom: rem(40);
    letter-spacing: $let-spc;
  }
  &__text {
    letter-spacing: $let-spc;
    text-align: center;
    font-size: rem(22);
    font-weight: normal;
  }
  &__arrow {
    @include flex(center, center, 0);
    padding: rem(15);
    width: rem(50);
    height: rem(50);
    border-radius: 50%;
    background-color: #f8f3ff;
    color: $main-clr !important;
  }
}
