@use "../../sass/" as *;

.body-hero {
  background: $back-clr;
  padding-top: rem(100);
  padding-bottom: rem(80);
  text-align: start;
  color: $white-clr;
  @include flex(center, space-between, 25);
  flex-direction: row-reverse;
  &__img {
    width: 65%;
  }

  &__content {
    width: 45%;
    &__name {
      span {
        font-size: rem(61);
        font-weight: 800;
        letter-spacing: rem(4.5);
        margin-bottom: rem(6);
      }
      h2 {
        font-size: rem(70);
        letter-spacing: rem(4.5);
        margin-bottom: rem(-40);
        font-weight: 800;
      }
      h1 {
        font-weight: 800;
        font-size: rem(70);
        letter-spacing: rem(4.5);
        margin-bottom: rem(50);
      }
      p {
        padding-right: rem(50);
        font-size: rem(26);
        color: $light-clr;
        margin-bottom: rem(70);
        line-height: 1.5;
        letter-spacing: rem(1.2);
      }
    }
  }
  @include tablet {
    margin-top: rem(-35);
    flex-wrap: wrap;
    &__img {
      width: 100%;
    }
    flex-direction: column-reverse;
    &__content {
      width: 100%;
      margin-bottom: rem(100);
    }
  }
  @include mobile {
    margin-top: rem(-80);
    &__content {
      text-align: center;
      &__btn {
        @include flex(center, center, 0);
      }
    }
    &__img {
      display: none;
    }
  }
}
