@use "../../sass/" as *;

.project {
  padding: rem(100) rem(0);
  padding-top: rem(180);
  &__content {
    margin-bottom: rem(100);
    text-align: center;
    h1 {
      margin-top: rem(30);
      font-size: rem(60);
      font-weight: bold;
    }
  }
  .swiper {
    width: 100%;
    transform: translateX(316px);
    overflow: visible;
  }
  .swiper-wrapper {
    transform: translateX(-50%);
    height: 30% !important;
  }
  @include tablet {
    .swiper-slide {
      width: 70% !important;
    }
  }
  @include tablet {
    .swiper-slide {
      width: 90% !important;
    }
  }
}
